<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mysqlDao" class="dao.userDaoMysql"></bean>
    <bean id="oracleDao" class="dao.userDaoOracle"></bean>
    <bean id="userService" class="service.userServiceImpl">
        <!--ref代表bean容器中的bean，value代表基本数据类型-->
        <property name="userDao" ref="mysqlDao"></property>
    </bean>
    <bean id="student" class="pojo.Student">
        <property name="id" value="124"></property>
        <property name="name" value="yuan"></property>
        <property name="school" value="zhongnan"></property>

    </bean>
    <!--alias别名-->
    <alias name="mysqlDao" alias="mysql"></alias>


</beans>